<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Daniel</title>
  </head>
  <body>
    <div id="my-photo-container">
      <img
        src="{{ url_for('static', filename='img/prof_icon_.jpeg') }}"
        id="my-photo"
      />
    </div>

    <h1>About Me</h1>
    <p>
      After completing my Bachelor of Commerce in Accounting at Ryerson in 2018,
      I went on to receive my CPA in 2021. But my passion for technology led me
      to pursue a Bachelor of Computing (Honours) with co-op at Queen’s
      University. I have hands-on experience in designing, developing, and
      testing web and mobile applications using React, Typescript, JavaScript,
      and CSS.
    </p>
    <p><a href="/">Back</a></p>
  </body>
</html>
