<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daniel's Experience</title>
  </head>
  <body>
    <h1>Experience</h1>
    <h2>Orderup</h2>
    <p>Software Developer Intern | May 2023 - Present</p>
    <p>
      Collaborated with the head of software engineering to design, develop,
      test, and release features on the Orderup website using React, Typescript,
      JavaScript, and CSS.
    </p>

    <h2>Boatlink</h2>
    <p>Junior Developer | October 2022 - January 2023</p>
    <p>
      Collaborated with the lead software engineer to update Boatlink's website
      and mobile application, adding new features and fixing bugs using React
      and React Native.
    </p>

    <h2>General Electric</h2>
    <p>Senior Financial Analyst | January 2021 - January 2022</p>
    <p>
      Collaborated with the GE UK team to implement Oracle Hyperion EPN to
      streamline financial planning, analysis, and reporting processes.
    </p>

    <h2>Deloitte</h2>
    <p>Experienced Auditor | September 2018 - May 2020</p>
    <p>
      Applied technical and analytical skills such as Python scripting to
      automate repetitive tasks, reduce the audit process duration by 40%, and
      ensure compliance while identifying areas of improvement.
    </p>

    <p><a href="/">Back</a></p>
  </body>
</html>
