<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daniel's Portfolio</title>
  </head>
  <body>
    <h1>Welcome to My Portfolio</h1>
    <p>
      I am a Bachelor of Computing (Honours) student at Queen's University, with
      a strong working knowledge in JavaScript, Typescript, Python, React,
      React-Native, HTML, and CSS.
    </p>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/experience">Experience</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </body>
</html>
