<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daniel's Projects</title>
  </head>
  <body>
    <h1>Projects</h1>
    <p>
      Some of my projects include developing a website for a Taco Shop using CSS
      and HTML and implementing a Real Estate Chatbot using Python and the
      Twilio API. More details and links to these projects coming soon!
    </p>
    <p><a href="/">Back</a></p>
  </body>
</html>
